html, body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important; 
}


/*home-page.html*/
#header_home-page {
    background-color: #2e65a0;
    height: 8vh;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}




/*Navbar*/
#navbar {
    position: fixed;
    top: 0vh;
    left: -17vw; /*Tem que ser igual ao width para fazer ele sumir*/
    height: 100%;
    width: 17vw;
    background-color: #2e65a0;
    overflow: hidden;
    transition: 1s all ease;
}
.navbar-active {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 17vw;
    height: 100% !important;
    transition: 1s all ease;
}

#nav-toggle {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2e65a0;
    transition: 1s all ease;
    border-right: solid 1px #27517d;
}
.nav-toggle-active {
    margin: 0 0 0 17vw !important;
    transition: 1s ease;
}

.sidebar{
    display: block;
    width: 100%;
    color: white;
    height: 100%;
    transition: 1s all ease;
}
.sidebar-active {
    display: block !important;
    height: 100%;
    transition: 1s ease;
}
.menu-item, .submenu-item, .submenu-title {
    border-bottom: 1px solid #3c70a9;
}

.menu-item {
    position: relative;
    width: 100%;
    height: 7vh;
    list-style: none;
    background-color: #2e65a0;
}
.menu-item:hover {
    background-color: #18406b;;
}

.menu-item a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

#logo-sidebar {
    height: 80px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3c70a9;
}
#logo-sidebar a {
    height: auto !important;
    width: auto !important;
}

.icon { /*Posiciona os ícones na barra pra que só eles apareçam*/
    position: relative;
    display: block;
    min-width: 4vw;
    height: 100%;
    line-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 3%;
    }

.icon img {
    height: 16px; /*Mudar conforme o tamanho da imagem*/
}
    
.title { /*igual o .icon mas sem o min-width e o text-align start*/
    position: relative;
    display: block;
    padding: 0 0 0 10%;
    height: 100%;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Item com um Submenu*/
.submenu {
    position: relative;
    width: 100%;
    height: 7vh;
    list-style: none;
    background-color: #2e65a0;
}
.submenu li {
    height: 100%;
    box-sizing: border-box;
}
.submenu li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.submenu-title:hover {
    background-color: #18406b;;
}
.submenu-item {
    display: none;
}

/*Itens Submenu Ativos*/
.submenu-active {
    height: auto !important;
}
.submenu-active li {
    height: 7vh !important;
}
.submenu-active .submenu-title,
.submenu-item:hover{
    border-left: 1px solid #20B2AA; /*COLOCAR PRA SER IGUAL O HOVER DOS LI*/
    background-color: #18406b;;
}
.submenu-active .submenu-item {
    display: block !important;
}




/*Icones na lateral do header*/
#icones-header{
    justify-content: center;
    float: right;
    align-items: center;
    display: inline-flex;
    height: 100%;
}
#icones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#icone-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    cursor: pointer;
    padding: 0 2vw 0 1.5vw;
    border-left: solid 1px #27517d;
}
#nome-icone-perfil {
    color: white;
    display: block;
    padding: 0 1vw 0 0;
}
.mini-icons {
    padding: 0 1.5vw;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    cursor: pointer;
    border-left: solid 1px #27517d;
}




/*Container Perfil*/
.container-perfil {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: white;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/*Perfil do usuário*/
#perfil-user{
    border-bottom: 1px solid #1c7996;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25px;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
}

#user-informations {
    display: flex;
    flex-direction: column;
}
#nome-user{
    font-size: 15px;
}
#email-user {
    font-size: 14px;
}

#avatar {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;

}

/*Itens do Menu*/
#container-menu-perfil {
    width: 100%;
}

#menu-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.menu-perfil-item {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-perfil-item a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid rgb(186 219 247);
    width: 100%;
    background-color: #cbe7ff;
}
.menu-perfil-item a span {
    margin: 0 15px 0 0;
}
.icon-perfil-item {
    margin: 0 0 0 2vw;
}
.menu-perfil-item a:hover {
    background-color: #99ece8;
}

/*Botões Perfil*/
#buttons-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
}

#logout {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#logout a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    list-style: none;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4e7fc7;
}
#logout img {
    padding: 0 0 0 5px;
}



/*Botão Dark Mode*/
#dark-mode-menu {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

#toggle-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 2vw;
    box-sizing: border-box;
    background-color: #cbe7ff;
    user-select: none;
}
#toggle-dark a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    user-select: none;
}
.icon-dark-mode {
    margin: 0 15px 0 0;
}


#button-dark-mode {
    height: 34px;
    width: 64px;
    cursor: pointer;
    position: relative;
 }

#button-dark-mode input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
    color: transparent;
    padding: 0;
    margin: 0;
}

#button-dark-mode label {
    width: 100%;
    height: 100%;
    background-color: #96bce4;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2;
    -webkit-transition: background-color 0.2;
    padding: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#button-dark-mode .text {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 80%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: black;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.off {
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    padding: 0px 1px 0 0;
    box-sizing: border-box;
}

.on {
    left: 36px;
    border-radius: 5px;
    text-align: center;
}

#button-dark-mode input:checked~label{
    background-color: #18406b;
}
#button-dark-mode input:checked~label .off{
    background-color: #18406b;
}
#button-dark-mode input:checked~label .on{
    background-color: #3998b5;
}




/*Abrir container perfil*/
.container-perfil-active {
    display: flex !important;
}



/*Paineis*/
#paineis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
    flex-direction: column;
    width: 100%;
    background-color: #f4faff;
    padding: 3% 0;
    box-sizing: border-box;
    min-height: 500px;
}
#paineis-superiores {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 60%;
    align-items: flex-start;
}
#first-panel {
    width: 55%;
    height: 100%;
    border: 1px solid black;
}
#second-panel {
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

#paineis-inferiores {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 40%;
}
#third-panel {
width: 55%;
height: 70%;
border: 1px solid black;
}
#fourth-panel {
width: 30%;
height: 70%;
border: 1px solid black;
}




/*Responsividade Home-Page*/
@media screen and (min-width:1920px){

}

@media screen and (min-width:1600px) and (max-width: 1920px){

}

@media screen and (max-width:1200px){
    #paineis-superiores {
        height: 55% !important;
    }
    #paineis-inferiores {
        height: 45% !important;
    }
}



/*Dark-Theme*/
.dark-theme-paineis {
    background-color: #2e65a0 !important;
}



.dark-theme-header {
    background-color: #18406b !important;
}



.dark-theme-navbar,
.dark-theme-navbar li {
    background-color: #18406b !important;
}

.dark-theme-navbar li a span.title {
    color: black !important;
}

.dark-theme-navbar ul .submenu-active .submenu-title{
    background-color: #2e65a0 !important;
}

.dark-theme-navbar ul.submenu-active .submenu-item {
    background-color: #18406b !important;
}
.dark-theme-navbar ul.submenu-active .submenu-item:hover {
    background-color: #2e65a0 !important;
}




.dark-theme-icones #icones #icone-perfil a {
    color: black;
}

.dark-theme-perfil {
    background-color: #18406b !important;
}

.dark-theme-perfil #container-menu-perfil ul .menu-perfil-item a {
    background-color: #4e7fc7 !important;
    border-bottom: 1px solid #1c7996 !important;
}
.dark-theme-perfil #container-menu-perfil ul .menu-perfil-item a:hover {
    background-color: #3998b5 !important;
}

.dark-theme-perfil #toggle-dark {
    background-color: #4e7fc7 !important;
}










/*Lista-Pacientes*/
#container {
    height: 92vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #99ece8;
}


