* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html, body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    /*background-color: #eeeeee;*/
    /*font-family: ;*/
}
ul {
    padding: 0 !important;
    margin: 0 !important; 
}



#container {
    display: grid;
    grid-template-areas: 'login registre' 'login registre';
    grid-template-rows: 50vh 50vh;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-sizing: border-box;
}

/*Login*/
#logo-index{
    width: 100%;
    height: 14vh;
    background-image: url(../img/face-48.png);
    background-repeat: no-repeat;
    background-position: top left;
    box-sizing: border-box;
}
#login-index {
    grid-area: login;
    background-color: white;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    border-width: 0 2px 0 0;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.5)), to rgba(40, 63, 97, 0.5) to rgba(0, 0, 0, 0.5)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(rgba(0, 0, 0, 0.5) , rgba(40, 63, 97, 0.5), rgba(0, 0, 0, 0.5)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(rgba(0, 0, 0, 0.5) , rgba(40, 63, 97, 0.5), rgba(0, 0, 0, 0.5)) 1 100%; 
    -o-border-image:
      -o-linear-gradient(rgba(0, 0, 0, 0.5) , rgba(40, 63, 97, 0.5), rgba(0, 0, 0, 0.5)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5) , rgba(40, 63, 97, 0.5), rgba(0, 0, 0, 0.5)) 1 100%;
}
#conteudo-login-index {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: flex;
    width: 50%;
}
#texto-login-index {
    margin-bottom: 4vh;
}
#texto-login-index h1{
    font-size: 22px;
    margin: 0;
    margin-bottom: 5px;
}
#texto-login-index h2{
    font-size: 16px;
    margin: 0;
}
#formulario {
    width: 100%;
}
#email, #senha {
    height: 6vh;
    width: 100%;
    font-family: cursive;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #c6c1ff;
    border-right: none;
    margin: 0 0 5vh 0;
    padding: 0;
    box-shadow: none !important;
}

#form-login-index form input:focus,
#conteudo-registre-index input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 


/*Tittle-Email*/
#tittle-email {
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: none;
}


/*Tittle-Senha*/
#tittle-senha {
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.tittle-senha-active {
    color: blue !important;
}
.tittle-senha-error {
    color: red !important;
}


#esqueci-email-index {
    margin: 0 0 2vh 0;
}
#esqueci-email-index a{
    text-decoration: none;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#esqueci-senha-index a {
    text-decoration: none;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

#logar-index {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 7vh;
    line-height: 48px;
    margin: 0 0 4vh 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 0;
    background-color: rgba(64, 136, 246, 1);
}
#logar-index:hover {
    background-color: rgba(22, 74, 154, 0.8);
    color: white;
}


/*Cadastro*/
#registre-index {
    grid-area: registre;
    background-color: #20B2AA;
    width: 50vw;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
}
#conteudo-registre-index {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: flex;
    padding: 3vh 0 0 7vw;
    box-sizing: border-box;
}
#texto-registre-index h3 {
    font-size: 14px;
    color:  rgba(255, 255, 255, 0.8);
    margin: 0;
}
#texto-registre-index h4 {
    font-size: 20px;
    color:  white;
    margin: 4vh 0 7vh 0;
}

#button-registrar-index, #button-teste-index{
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(64, 136, 246, 1);
    text-align: left;
    padding: 0 0 0 30px;
    cursor: pointer;
    display: block;
    width: 55%;
    height: 7vh;
    line-height: 48px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 0;
    background-color: rgba(255, 255, 255, 1);
}

#button-registrar-index:hover, #button-teste-index:hover{
    background-color: rgba(64, 136, 246, 1);
    color: rgba(255, 255, 255, 1);
}




/*Teste 7 dias grátis*/
#teste-gratis-index {
    grid-area: teste;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
}

#texto-teste-index{
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
#texto-teste-index h4{
    font-size: 20px;
    color:  white;
    margin: 0 0 10% 0;
}


#borda-index {
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 30px 0;
    box-sizing: border-box;
}

/*Responsividade*/
@media screen and (min-width:2000px){
    #texto-login-index h1{
        font-size: 28px !important;
    }
    #texto-login-index h2{
        font-size: 22px !important;
    }
    #texto-registre-index h3{
        font-size: 20px !important;
    }
    #texto-registre-index h4, #texto-teste-index h4 {
        font-size: 28px !important;
    }
    #button-registrar-index, #button-teste-index {
        font-size: 20px !important;
        padding: 0 0 0 30px !important;
        width: 60% !important;
    }
    #logar-index{
        font-size: 20px;
    }
    #email, #senha{
        font-size: 18px;
    }
    #borda-index{
        margin: 45px 0 !important;
    }
    #esqueci-email-index a, #esqueci-senha-index a{
        font-size: 18px;
    }
}

@media screen and (min-width:1920px) and (max-width:2000px){
    #texto-login-index h1{
        font-size: 26px !important;
    }
    #texto-login-index h2{
        font-size: 20px !important;
    }
    #logar-index{
        font-size: 20px !important;
    }
    #email, #senha{
        font-size: 18px !important;
    }
    #esqueci-email-index a, #esqueci-senha-index a{
        font-size: 18px !important;
    }
    #texto-registre-index h3{
        font-size: 18px !important;
    }
    #texto-registre-index h4, #texto-teste-index h4 {
        font-size: 26px !important;
    }
    #button-registrar-index, #button-teste-index {
        font-size: 18px !important;
        padding: 0 0 0 30px !important;
    }
    #borda-index{
        margin: 40px 0 !important;
    }
}

@media screen and (min-width:1500px) and (max-width:1919px){
    #texto-login-index h1{
        font-size: 24px !important;
    }
    #texto-login-index h2{
        font-size: 18px !important;
    }
    #texto-registre-index h3{
        font-size: 16px !important;
    }
    #texto-registre-index h4, #texto-teste-index h4 {
        font-size: 24px !important;
    }
    #button-registrar-index, #button-teste-index {
        font-size: 16px !important;
        padding: 0 0 0 25px !important;
    }
    #logar-index{
        font-size: 16px;
    }
    #email, #senha{
        font-size: 16px;
    }
    #borda-index{
        margin: 35px 0 !important;
    }
    #esqueci-email-index a, #esqueci-senha-index a{
        font-size: 16px;
    }
}

@media screen and (min-width:1201px) and (max-width:1500px){
    #conteudo-login-index{
        width: 50% !important;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px){
    #conteudo-login-index{
        width: 55% !important;
    }
    #texto-registre-index h3{
        font-size: 14px !important;
    }
    #texto-registre-index h4, #texto-teste-index h4 {
        font-size: 20px !important;
    }
    #button-registrar-index, #button-teste-index {
        font-size: 14px !important;
        padding: 0 0 0 25px !important;
    }

    /*HOME-PAGE*/
    #paineis-superiores {
        height: 55% !important;
    }
    #paineis-inferiores {
        height: 45% !important;
    }
}
@media screen and (min-width:840px) and (max-width:1024px){
    #conteudo-login-index{
        width: 60% !important;
    }
    #texto-login-index h1{
        font-size: 22px !important;
    }
    #texto-login-index h2{
        font-size: 15px !important;
    }
    #texto-registre-index h3{
        font-size: 12px !important;
    }
    #texto-registre-index h4, #texto-teste-index h4 {
        font-size: 16px !important;
    }
    #button-registrar-index, #button-teste-index {
        font-size: 12px !important;
        padding: 0 0 0 20px !important;
        height: 6vh !important;
    }
    #logar-index {
        height: 6vh !important;
    }
}
@media screen and (min-width:100px) and (max-width:840px){
/*Fazer o app mobile*/
}






/*HOME_PAGE*/
#body-home {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #f4faff;
    transition: 1s;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}


/*home-page.html*/
#header_home-page {
    background-color: #2e65a0;
    height: 8vh;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}




/*Navbar*/
#navbar {
    position: fixed;
    top: 0vh;
    left: -17vw; /*Tem que ser igual ao width para fazer ele sumir*/
    height: 100%;
    width: 17vw;
    background-color: #2e65a0;
    overflow: hidden;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.navbar-active {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 17vw;
    height: 100% !important;
    transition: 1s all ease;
}

#nav-toggle {
    position: relative;
    float: left;
    height: 8vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2e65a0;
    border-right: solid 1px #27517d;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    /* position: fixed; 
    top: 0; 
    left: 0; */
}
.nav-toggle-active {
    margin: 0 0 0 17vw !important;
    transition: 1s ease;
}

.sidebar{
    display: block;
    width: 100%;
    color: white;
    height: 100%;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.sidebar-active {
    display: block !important;
    height: 100%;
    transition: 1s ease;
}
.menu-item, .submenu-item, .submenu-title {
    border-bottom: 1px solid #3c70a9;
}

.menu-item {
    position: relative;
    width: 100%;
    height: 7vh;
    list-style: none;
    background-color: #2e65a0;
}
.menu-item:hover {
    background-color: #18406b;;
}

.menu-item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 10%;
}
.menu-item a i {
    width: 18px;
    height: 18px;
}

#logo-sidebar {
    height: 16vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3c70a9;
}
#logo-sidebar a {
    height: auto !important;
    width: auto !important;
}

    
.title { /*igual o .icon mas sem o min-width e o text-align start*/
    position: relative;
    display: block;
    padding: 0 20%;
    height: 100%;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Item com um Submenu*/
.submenu {
    position: relative;
    width: 100%;
    height: 7vh;
    list-style: none;
    background-color: #2e65a0;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.submenu li {
    height: 100%;
    box-sizing: border-box;
}
.submenu-item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    padding: 0 0 0 10%;
    color: white;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.submenu-title a i {
    width: 18px;
    height: 18px;
}
.submenu-item a .title {
    padding: 0;
}
.submenu-title a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 10%;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.submenu-title:hover {
    background-color: #18406b;;
}
.submenu-item {
    display: none;
}

/*Itens Submenu Ativos*/
.submenu-active {
    height: auto !important;
}
.submenu-active li {
    height: 7vh !important;
}
.submenu-active .submenu-title,
.submenu-item:hover{
    border-left: 1px solid #20B2AA; /*COLOCAR PRA SER IGUAL O HOVER DOS LI*/
    background-color: #18406b;;
}
.submenu-active .submenu-item {
    display: block !important;
}




/*Icones na lateral do header*/
#icones-header{
    justify-content: center;
    float: right;
    align-items: center;
    display: inline-flex;
    height: 100%;
}
#icones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#icone-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    cursor: pointer;
    padding: 0 2vw 0 1.5vw;
    border-left: solid 1px #27517d;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
#nome-icone-perfil {
    color: white;
    display: block;
    padding: 0 1vw 0 0;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.mini-icons {
    padding: 0 1.5vw;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    cursor: pointer;
    border-left: solid 1px #27517d;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}




/*Container Perfil*/
.container-perfil {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: white;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

/*Perfil do usuário*/
#perfil-user{
    border-bottom: 1px solid #1c7996;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25px;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

#user-informations {
    display: flex;
    flex-direction: column;
}
#nome-user{
    font-size: 15px;
}
#email-user {
    font-size: 14px;
}

#avatar {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;

}

/*Itens do Menu*/
#container-menu-perfil {
    width: 100%;
}

#menu-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}
#menu-perfil li a i {
    margin: 0 16px 0 2vw;
    height: 18px;
    width: 18px;
}

.menu-perfil-item {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-perfil-item a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid rgb(186 219 247);
    width: 100%;
    background-color: #cbe7ff;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.icon-perfil-item {
    margin: 0 0 0 2vw;
}
.menu-perfil-item a:hover {
    background-color: #99ece8;
}

/*Botões Perfil*/
#buttons-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
}

#logout {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#logout a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    list-style: none;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #4e7fc7;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
#logout img {
    padding: 0 0 0 5px;
}



/*Botão Dark Mode*/
#dark-mode-menu {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

#toggle-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 2vw;
    box-sizing: border-box;
    background-color: #cbe7ff;
    user-select: none;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
#toggle-dark a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    user-select: none;
}
.icon-dark-mode {
    margin: 0 15px 0 0;
}


#button-dark-mode {
    height: 34px;
    width: 64px;
    cursor: pointer;
    position: relative;
 }

#button-dark-mode input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
    color: transparent;
    padding: 0;
    margin: 0;
}

#button-dark-mode label {
    width: 100%;
    height: 100%;
    background-color: #96bce4;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2;
    -webkit-transition: background-color 0.2;
    padding: 1px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#button-dark-mode .text {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 80%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: black;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.off {
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    padding: 0px 1px 0 0;
    box-sizing: border-box;
}

.on {
    left: 36px;
    border-radius: 5px;
    text-align: center;
}

#button-dark-mode input:checked~label{
    background-color: #18406b;
}
#button-dark-mode input:checked~label .off{
    background-color: #18406b;
}
#button-dark-mode input:checked~label .on{
    background-color: #3998b5;
}




/*Abrir container perfil*/
.container-perfil-active {
    display: flex !important;
}



/*Paineis*/
#paineis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
    flex-direction: column;
    width: 100%;
    padding: 3% 0;
    box-sizing: border-box;
    min-height: 500px;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
#paineis-superiores {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 60%;
    align-items: flex-start;
}
#first-panel {
    width: 55%;
    height: 100%;
    border: 1px solid black;
}
#second-panel {
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

#paineis-inferiores {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 40%;
}
#third-panel {
width: 55%;
height: 70%;
border: 1px solid black;
}
#fourth-panel {
width: 30%;
height: 70%;
border: 1px solid black;
}



/*Dark-Theme*/
.dark-theme-paineis {
    background-color: #2e65a0 !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}



.dark-theme-header {
    background-color: #18406b !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}



.dark-theme-navbar,
.dark-theme-navbar li {
    background-color: #18406b !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-navbar li a span.title {
    color: black !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-navbar ul .submenu-active .submenu-title{
    background-color: #2e65a0 !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-navbar ul.submenu-active .submenu-item {
    background-color: #18406b !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.dark-theme-navbar ul.submenu-active .submenu-item:hover {
    background-color: #2e65a0 !important;
}



.dark-theme-icones #icones #icone-perfil a {
    color: black;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-perfil {
    background-color: #18406b !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-perfil #container-menu-perfil ul .menu-perfil-item a {
    background-color: #4e7fc7 !important;
    border-bottom: 1px solid #1c7996 !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.dark-theme-perfil #container-menu-perfil ul .menu-perfil-item a:hover {
    background-color: #3998b5 !important;
}

.dark-theme-perfil #toggle-dark {
    background-color: #4e7fc7 !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dark-theme-container {
    background-color: #4e7fc7 !important;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
}





/*PÁGINA-PACIENTE*/
#container-paciente {
    display: grid;
    grid-template-areas: 'aside container';
}

#menu-paciente {
    grid-area: 'aside';
    /*height: 92vh;*/
    width: 16vw;
    background-color: white;
    box-sizing: border-box;
    border-right: 1px solid #1c7996;
}
#pacient-identification {
    /*height: 24vh;*/
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#alerta {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
}

#alerta-paciente {
    padding: 2px;
    margin: 0;
    text-align: center;
    background-color: #e32727;
    width: 80%;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5b1515;
    box-sizing: border-box;
}

#pacient-name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 5px 0;
    box-sizing: border-box;
}

#imagem-paciente img {
    height: 50px;
    margin-right: 15px;
}


#pacient-description {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
#pacient-description h2 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
}
#pacient-description h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
}


#contato-paciente {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#contato-paciente h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
}


#send-message-pacient {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}
#send-message-pacient a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
    width: 100%;
}
#send-message-pacient a:hover {
    text-decoration: underline;
}


#division {
    background-image: linear-gradient(to right, transparent, #dbdbdb, transparent);
    border: 0;
    height: 1px;
}


#nav-paciente {
    /*height: calc(68vh - 1px);*/
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-paciente ul {
    height: 100%;
}
#nav-paciente ul li {
    /*height: calc(100% / 6 - 1px);*/
    height: 11vh;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

#nav-paciente ul li a {
    box-sizing: border-box;
    padding: 0 0 0 3.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nav-paciente ul li a:focus,
#nav-paciente ul li a:hover {
background-color: #ccc;
}



#container-dados-paciente {
    grid-area: 'container';
    width: 84vw;
    /*height: 92vh;*/
}

#odontograma-paciente {
    height: 50vh;
    background-color: #ccc;
}




#conteudo-paciente {
    display: grid;
    grid-template-areas: "main-dados aside-dados";
    grid-template-columns: 75% 25%;
    width: 100%;
}

#content-dados-paciente {
    grid-area: "main-dados";
    width: 100%;
}
#header-dados-paciente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 5vw;
    background-color: #cecaff;
}
#header-dados-paciente h2 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 300;
}
#header-dados-paciente a button {
    padding: 8px 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(245, 245, 245, 0.8);
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #17657c;
    box-shadow: 0 0 0 0;
    outline: 0;
    cursor: pointer;
}
#header-dados-paciente a button:hover {
    background-color:  rgb(21, 130, 145);
    color: white;
}

#dados-paciente {
    width: 100%;
    padding: 20px 20px 0 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.form-group div input, 
.form-group div select {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    opacity: 1;
}
.form-group div select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 1;
}
.form-group div label {
    font-size: 18px;
}


#form-item-name input {
    width: 500px;
}


#form-item-prontuario input {
    width: 155px;
}


#form-item-birthdate input {
    width: 105px;
}


#form-item-age input {
    width: 100px;
}


#form-item-sexo input {
    width: 193px;
}


#form-item-cidade input {
    width: 300px;
}


#form-item-profissao input {
    width: 280px;
}


#form-item-cpf input {
    width: 250px;
}


#form-item-rg input {
    width: 150px;
}

#form-item-menorIdade input {
    width: 100px;
}

#form-item-nomeResponsavel input {
    width: 430px;
}

#form-item-parentesco input {
    width: 100px;
}

#form-item-profissaoResponsavel input {
    width: 290px;
}

#form-item-cpfResponsavel input {
    width: 180px;
}

#form-item-rgResponsavel input {
    width: 150px;
}





#aside-obs-patient {
    grid-area: "aside-dados";
    background-color: red;
}






/*Não lembro de onde é isso*/
.bar-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width:100%;
    text-align:left;
}





/*AGENDA*/
#container-agenda {
    display: grid;
    grid-template-areas: 'aside toolbar' 'aside calendar';
    /*height: 92vh;
    width: 100vw;*/
    background-color: #f3f3f4;
    box-sizing: border-box;
}

#calendar-toolbar {
    grid-area: toolbar;
    display: flex;
    background-color: #f6e8cf;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5vw 0 1vw;
    margin: 1vw 3vw 1vw 1vw;
    height: 12vh;
}

#search-bar-calendar {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#search-bar-calendar button {
    border-radius: 1000px;
    border: none;
    background-color: gold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0;
    outline: 0;
}

#search-bar-calendar button i {
    cursor: pointer;
    padding: 10px;
}

#search-bar-calendar input {
    height: 28px;
    width: 200px;
    font-family: cursive;
    margin: 0 0 0 8px;
    padding: 0 0 1px 5px;
    border: 1px solid #b3b2b9;
    border-radius: 3px;
    box-shadow: none !important;
    font-size: 15px;
    cursor: text;
    color: black;
}

#search-bar-calendar input:focus,
#search-bar-calendar input:active {
    box-shadow: 0 0 0 0;
    border: 1px solid #3998b5;
    outline: 0;
}

#settings-calendar button {
color: #ffffff;
background-color: #2e65a0;
border: 1px solid #7e7e7e !important;
border-radius: 3px;
padding: 8px;
cursor: pointer;
box-shadow: 0 0 0 0;
outline: 0;
font-size: 14px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#settings-calendar button:hover {
    box-shadow: 0 0 0 0;
    border: 1px solid #b4b4b4 !important;
    outline: 0;
    color: rgba(0, 0, 0, 1.0);
    background-color: #cfcfcf;
    background-image: none;
}
#settings-calendar button:active {
    box-shadow: 0 0 0 0;
    border: 1px solid #b4b4b4 !important;
    outline: 0;
    color: rgba(0, 0, 0, 1.0);
    background-color: #cfcfcf;
    background-image: none;
}





#aside-calendar {
    grid-area: aside;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    box-sizing: border-box;
    margin: 10px 0 0 10px;
}


/*Mini calendar aside*/
.container-mini-calendar {
    width: 100%;
    min-width: 200px;
    min-height: 184px;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
  
.calendar {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
  
.month {
    width: 100%;
    height: 40px;
    background-color: #008992;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
  
.month i {
    font-size: 18px;
    cursor: pointer;
  }
  
.month h1 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
  
.month p {
    font-size: 11px;
}
  
.weekdays {
    width: 100%;
    height: 20px;
    margin: 2px 0 0 0;
    padding: 0px 4px;
    display: flex;
    align-items: center;
}
  
.weekdays div {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
  
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    color: #000000;
    font-family: cursive;
}
  
.days div {
    font-size: 10px;
    margin: 0px;
    width: calc(201px / 7);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
  
.days div:hover:not(.today) {
    background-color: #58bec6;
    border: 1px solid #939393;
    cursor: pointer;
}
  
.prev-date,
.next-date {
    color: #b3b3b3;
}
  
.today {
    background-color:#008992;
}



#lembretes-calendar {
    background-color: bisque;
    height: 75%;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#lembretes-calendar h2{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0;
    color: #89a199;
    font-weight: 300;
}
#lembretes-calendar button {
    padding: 3px 5px 4px 4px;
    font-size: 13px;
    font-family: cursive;
    border: none;
    border-radius: 5px;
    background-color: #91c1b1;
    color: white;
    cursor: pointer;
}
#lembretes-calendar button:hover {
    color: black;
    border: none;
    outline: 0;
    background-color: #00a2ad;
}

#calendar {
    grid-area: calendar;
    /*height: 80vh;*/
    width: 85vw;
    box-sizing: border-box;
    padding: 0 3vw 0 1vw;
}
#calendar-tools {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgba(206, 151, 99, 0.6);
    padding: 16px 30px 16px 20px;
}
#buttons-calendar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#buttons-calendar button {
    margin: 0;
    padding: 0 .7em;
    height: 2em;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) !important;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #5f5f5f;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.button-corner-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px !important;
}
.button-corner-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0px !important;
}
#buttons-calendar button:focus, 
#buttons-calendar button:active,
#buttons-calendar button:hover {
    box-shadow: 0 0 0 0;
    border: 1px solid #b4b4b4 !important;
    outline: 0;
    color: rgba(0, 0, 0, 1.0);
    background-color: #cfcfcf;
    background-image: none;
}


#header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-calendar button {
    background-color: #f5f5f5;
    border: 1px solid #b4b4b4;
    padding: 8px 10px;
    color: black;
    cursor: pointer;
}
#header-calendar span {
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
#header-calendar button:active {
    border: 1px solid #b4b4b4 !important;
    color: rgba(0, 0, 0, 1.0);
    background-color: #cfcfcf;
    background-image: none;
}
#header-calendar button:hover {
    background-color: rgba(236, 236, 236, 0.9);
}
#header-calendar button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-image: none;
}

#print-calendar a {
    color: #5c5c5c;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    border-radius: 3px;
}
#print-calendar a:hover {
    background-color: rgba(236, 236, 236, 0.5);
}




#table-calendar {
    width: 100%;
    background-color: white;
}
#table-calendar table {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(160, 160, 160);
    border-collapse: collapse;
}
#table-calendar table th, 
#table-calendar table td {
    color: #b06c17;
    border: 1px solid rgb(160, 160, 160);
    font-size: 15px;
    font-family: sans-serif;
    padding: 2px 0;
    margin: 0;
    text-align: center;
}
#table-calendar table td {
    padding: 0 0px;
    margin: 0;
    white-space: nowrap;
    color: #d5790b;
    font-size: 13px;
    height: 28px;
    cursor: pointer;
}
#table-calendar table td:hover {
    background-color: red;
}









#container-lista-paciente {
    width: 100%;
    box-sizing: border-box;
    padding: 6vh 4vw 0 4vw;
}
#header-lista-pacientes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 15px 25px;
    background-color: #bebebe;
}
#header-lista-pacientes h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
}
#header-lista-pacientes button {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #008992;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 0 0;
    outline: 0;
}
#header-lista-pacientes button:hover {
    color: rgb(255, 255, 255);
    background-color: #17657c;
}
#header-lista-pacientes button:active {
    box-shadow: 0 0 0 0;
    border: 1px solid #b4b4b4 !important;
    outline: 0;
    color: rgba(0, 0, 0, 1.0);
    background-color: #cfcfcf;
    background-image: none;
}

#searchbox-lista-pacientes {
    padding: 40px 0 25px 0;
    background-color: #e1e1db;
}
#filtrobuscapacientes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#row1-filtro-pacientes,
#row2-filtro-pacientes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#row1-filtro-pacientes {
    margin: 0 0 25px 0;
}

.inputs-filtro-pacientes{
padding: 0 25px;
width: 33%;
}

.inputs-filtro-pacientes input,
.inputs-filtro-pacientes select {
    width: 100%;
    font-size: 15px;
    padding: 5px 5px;
    margin: 5px 0 0 0;
    border: 1px solid rgb(75, 75, 75);
}

.inputs-filtro-pacientes label {
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}


.inputs-filtro-pacientes input:focus,
.inputs-filtro-pacientes select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px  solid rgb(143, 143, 143);
}´

#filtro-paciente-submeter {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #008992;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 0 0;
    outline: 0;
}


#container-patient-list {
    padding: 5vh 0 0 0;
}

#table-patient-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#table-patient-list,
#table-patient-list th,
#table-patient-list td {
    border: 1px solid #b6b6b6;
}

#table-patient-list th {
    background-color: #d5d5d5;
    vertical-align: top;
    text-align: left;
    padding: 7px;
    color: #454040;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
}
#table-patient-list td {
    background-color: white;
    vertical-align: top;
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
}