html, body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important; 
}
@media screen and (min-width:1700px){
    header {
        padding: 0 2% !important;
    }
}
@media screen and (max-width:1200px){
    #icones-header {
        width: 11% !important;
    }
}

ARRUMAR O PAINEL COM O @MEDIA

/*Index.html*/
#authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#box-authentication{
    width: 700px;
    height: 400px;
    background-color: black;
}





/*home-page.html*/
header {
    background-color: black;
    height: 12vh;
    width: 100%;
    padding: 0 1%;
    box-sizing: border-box;
    min-height: 72px;
}
.home-page a{
    color: rgba(72, 128, 211, 0.938) !important;
}
nav ul li a:hover {
    color: rgba(72, 128, 211, 0.938) !important;
}
nav {
    display: inline-flex;
    height: 100%;
    float: left;
    width: 60%;
    box-sizing: border-box;
}
nav ul {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
nav ul li {
    list-style: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
    line-height: 35px;
}
#icones-header{
    justify-content: center;
    width: 9%;
    float: right;
    align-items: center;
    display: inline-flex;
    height: 100%;
}
#icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#icone-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#nome-icone-perfil {
    color: white;
    display: block;
}
.mini-icons {
    margin-right: 5px;
}


#paineis {
    background-color: rgb(175, 214, 226);
    height: 88vh;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 0 50px;
    min-height: 500px !important;
}
#first-panel {
    width: 60%;
    height: 64%;
    background-color: white;
    float: left;
}
#second-panel {
    width: 32%;
    height: 64%;
    background-color: white;
    float: right;
}
#third-panel {
    width: 60%;
    height: 150px;
    background-color: white;
    margin: 26px 0;
    float: left;
}
#fourth-panel {
    width: 32%;
    height: 150px;
    background-color: white;
    display: flex;
    margin: 26px 0;
    float: right;
}