html, body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important; 
}

/*Index.html*/
